---
vim: filetype=liquid
layout: page
title: Consultation
description: >-
  Connect with us for a personalized consultation to bring your vision to life

version: 0.0.1
author: Digital-Mercenaries
license: All Rights Reserved

navigation:
  weight: 10
---

<p>
  We look forward to discussing how we can encode your dreams into reality!
</p>

<hr>

<h2>What You Can Expect</h2>

{% assign workspace__consultation__steps = site.consultation | where_exp: 'item', 'item.navigation' |  sort: 'navigation.weight' %}

{% for workspace__consultation__step in workspace__consultation__steps %}
  <h3>Step {{ forloop.index }}: {{ workspace__consultation__step.title }}</h3>
  {{ workspace__consultation__step.content | markdownify }}
{% endfor %}

<hr>

{% assign data__faq__page = site.faq | where_exp: "item", "item.heading == page.title" %}
{% if data__faq__page %}
  <h2>FAQ</h2>

  {% include faq/iterate-target-heading.html items=data__faq__page %}
{% endif %}

